################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Store.Database/appseting.json
/Store.Database/appsetings.json
/Store.Database/appsettings.json
